<% content_for :app_location do %>Admin / Groups / Items<% end %>
<div id="items" class="col-md-12">

	<table class="table table-bordered table-condensed">
		
		<tr>
			<th>Index</th>
			<th>Item Id</th>
			<th>QTY Ordered</th>
			<th>Item Number</th>
			<th>Current Price</th>
			<th>New Price</th>
			<th>Differnce %</th>
			<th>Differnce $</th>
			<th>Total Difference</th>
		</tr>
		
		<% order_ids = Order.where(account_id: @ids).ids %>
		<% start = 0 %>
	<% @items.limit(200).each do |i|%>
	<% group_item_price = i.item.prices.actual.by_group(@group.id).last %>
	<% if i.qty > 0 %>
	<% start = start + 1  %>
	<%# if group_item_price.nil? %>
	<tr>
		<td><%= start %></td>
		<td><%= i.item_id %></td>
		<td><%= number_with_delimiter(i.qty) %></td>
		<td><%= i.item.number %></td>
		<td><%= i.item.name %></td>
		<td><%# prc = group_item_price.nil? ? 0 : group_item_price.price %>
			<%# number_to_currency([prc, i.item.default_price&.price&.to_f.to_d].min) %>
			<%# es1 = i.item&.item_vendor_prices.where(vendor_id: 106)&.last&.price&.to_s %>
			<%# es2 = i.item&.item_vendor_prices.where(vendor_id: 500)&.last&.price&.to_s %>
			<%# sw = i.item&.item_vendor_prices.where(vendor_id: 347)&.last&.price&.to_s %>
		</td>
		<td><%# number_to_currency(i.item.actual_cost_price&.to_s&.to_d * 1.1539) %><%# es1 %></td>
		<td><%# number_to_percentage((([prc, i.item.default_price&.price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) / ([prc, i.item.default_price&.price.to_f].min) * 100.ceil)  %><%# es2 %></td>
		<td><%# number_to_currency(([prc, i.item.default_price.price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) %><%= i.item.default_price&.price&.to_f.to_d %></td>
		<td><%# number_to_currency((([prc, i.item.default_price.price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) * i.qty) %>
			<%# tes1 = (es1.to_s.to_d * 5) * 1.1539 %>
			<%# tes2 = (es2.to_s.to_d * 5) %>
			<%# (tes2 > 75.00) ? tes2 : (tes2 + 5.00)%>
			<%# [tes1, tes2].min / 5%>
			<%= (i.item.default_price&.price&.to_f.to_d) * 0.9 %>
		</td>
		<td>
				<% if i.item.number.match(".+COMP$") %>
					<% itm = i.item.prices.where(appliable_id: 2, appliable_type: "Group").last %>
					<%= itm&.price.to_s%> / 
					<% if itm&.price.to_s.to_d < 10 %>
						<%= itm&.price.to_s.to_d - 0.5 %>
					<% elsif itm&.price.to_s.to_d >= 10 && itm&.price.to_s.to_d < 30 %>
						<%= itm&.price.to_s.to_d - 1.0 %>
					<% elsif itm&.price.to_s.to_d >= 30 && itm&.price.to_s.to_d < 50 %>
						<%= itm&.price.to_s.to_d - 2.0 %>
					<% elsif itm&.price.to_s.to_d >= 50 && itm&.price.to_s.to_d < 75 %>
						<%= itm&.price.to_s.to_d - 3.0 %>
					<% elsif itm&.price.to_s.to_d >= 75 %>
						<%= itm&.price.to_s.to_d - 4.0 %>
					<% end %>
				<% end%>
		</td>
	</tr>
	<%# end %>
	<% end %>
	<% end %>
	</table>

</div>
