<div id="order" class="col-md-12">
	<%= render partial: 'full_order', locals: {order: @order} %>	
	
	<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="nav navbar-nav navbar-right">
				<div class="container-fluid">
					<div class="pull-right" id="action-buttons">
					  <% if @order.incomplete? %>
						
							<%= link_to("Submit", submit_order_path(@order.id), :method => "put", :class => 'btn btn-success pull-right') %>
				   
					  <% end %>
					  
						<% if @order.pending? %>
						
							<%= link_to("Approve", approve_order_path(@order.id), :method => "put", :class => 'btn btn-success pull-right') %>
							<%= link_to("Cancel", cancel_order_path(@order.id), :method => "put", :class => 'btn btn-danger pull-right') %>
					 
					  <% end %>
				    
						<% if @order.awaiting_payment? %>
						
							<%= link_to("Toggle lock", lock_order_path(@order.id), :method => "put", :class => 'btn btn-primary pull-right') %>
							
							<% if @order.payments.where.not(success: true).size > 0 %>
							
								<%= link_to("Capture payment", finalize_payment_path(@order.payments.where.not(success: true).first.id), :method => "put", :class => 'btn btn-warning pull-right') %>
							
							<% end %>
							
						<% end %>
						
						<% if @order.credit_hold? %>
						
							<%= link_to("Remove Credit Hold", remove_hold_order_path(@order.id), :method => "put", :class => 'btn btn-warning pull-right')  %>
							
						<% end %>
				    
						<% if @order.awaiting_shipment? or @order.partially_shipped? or @order.processing? %>
						
							<%= link_to("Ship", new_order_shipment_path(@order.id), :class => 'btn btn-success pull-right')  %>
							
						<% end %>
						
						<% if @order.awaiting_fulfillment? or @order.partially_fulfilled? %>
							
							<%= link_to("Fulfill", new_order_invoice_path(@order.id), :class => 'btn btn-success pull-right')  %>
							
						<% end %>
						
						<% if @order.fulfilled? %>
							
							<%= link_to("Resend Invoice Notification", resend_invoice_order_path(:id => @order.id), :method => "put", :class => 'btn btn-info pull-right') %>
						
						<% end %>
					</div>
				
				
				  
			
</div>
				
			</div>
			
		  
	  
	</div>
	
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>