<td class="text-center"><%= role.id %></td>
<td><%= role.name %></td>
<td><%= role.created_at.strftime("%m/%d/%y %H:%M:%S") %></td>
<td>

  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
      <li><%= link_to("Edit", edit_role_path(role.id), :remote => true)  %></li>
      <li><%= link_to("Delete", role_path(role.id), :remote => true, method: :delete, confirm: "Are you sure to delete this role?")  %></li>
    </ul>
  </div>

</td>